.container {
  position: absolute;
  top: 0;
  left: 31px;
  right: 34px;
  z-index: 10000;
  display: flex;
  @apply justify-around 2xl:justify-between;
  align-items: initial;
  padding-top: 25px;
}
.menu_items {
  display: flex;
  gap: 48px;
  align-items: center;
}
.logo_img {
  height: initial;
  /* padding-top: 25px; */
}

.menu_item {
  color: #f5f5f5;
  font-family: Fredoka;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact_button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #121d2e;
}
.contact_button > a {
  color: #fff;
  font-family: Fredoka;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.line_active {
  /* width: 80%; */
  margin-top: 3px;
  height: 1px;
  opacity: 1;
  color: #63d92c !important;
  border-color: #63d92c;
}
.line_hidden {
  opacity: 0;
}

.burger_menu {
  display: none;
}
