.sectionTwo_container {
  background: linear-gradient(
    180deg,
    rgba(5, 12, 18, 0.75) 0%,
    rgba(4, 13, 17, 0) 100%
  );
}

#left_side {
  background-size: cover;
  background-repeat: no-repeat;
}
