.sectionTwo_container {
  background: linear-gradient(
    180deg,
    rgba(5, 12, 18, 0.75) 0%,
    rgba(4, 13, 17, 0) 100%
  );
}

#left_side {
  background-image: linear-gradient(360deg, #050c12, rgba(4, 13, 17, 0)),
    url(/images/second_left.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#right_side {
  background-image: linear-gradient(360deg, #050c12, rgba(4, 13, 17, 0)),
    url(/images/second_right_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
